:root {
    --dark: #092428;
    --light: #c8e690;
    --title-font: 'Roboto', sans-serif;
    --sub-font: 'Open Sans', sans-serif;
    --text-font: 'Montserrat', sans-serif;
}

.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}

.skill-icon {
    font-size: 50px;
    color: var(--dark);
}