:root {
    --main: #5C8001;
    --sub: #f1fde2;
    --title-font: 'Carter One', cursive;
    --sub-font: 'Black Han Sans', sans-serif;
    --text-font: 'Candal', sans-serif;
}

#home-section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding-top: 70px;
    font-family: var(--title-font);
}

#home-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;
}

#intro-container {
    height: 100%;
}

#intro-container > h1 {
    font-family: var(--title-font);
    font-size: 60px;
    padding-bottom: 10px;
}

#intro-container > h3 {
    font-family: var(--sub-font);
    color: var(--main);
    font-size: 36px;
}


img {
    height: 300px;
    width: 300px;
    border: 2px solid var(--main);
    border-radius: 50%;
}