#experience-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding-top: 70px;
}

#experience-section h2 {
   font-size: 38px;
   font-family: var(--title-font);
   color: var(--dark);
   margin-bottom: 50px;
}

#experience-container {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}