:root {
    --main: #5C8001;
    --sub: #f1fde2;
    --title-font: 'Carter One', cursive;
    --sub-font: 'Black Han Sans', sans-serif;
    --text-font: 'Candal', sans-serif;
}

#navbar-container {
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--main);
    font-family: var(--title-font);
    letter-spacing: 5px;
    font-size: 18px;
}

#navbar-list-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#navbar-list-container > li {
    list-style-type: none;
}

.navbar-link {
    text-decoration: none;
    color: white;
    transition: .8s;
}

/* .navbar-link:hover {
    text-decoration: underline;
} */
