#navbar-container {
    border: 2px solid red;
}

#navbar-list-container {
    display: flex;
    justify-content: space-around;
}

#navbar-list-container > li {
    list-style-type: none;
}

#navbar-list-container > li > a {
    text-decoration: none;
}