:root {
    --dark: #092428;
    --light: #c8e690;
    --title-font: 'Carter One', cursive;
    --sub-font: 'Black Han Sans', sans-serif;
    --text-font: 'Candal', sans-serif;
}

#skills-section {
    height: 100vh;
    padding-top: 70px;
    color: var(--dark);
}

#skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 20px;
}
