:root {
    --dark: #092428;
    --light: #c8e690;
    --title-font: 'Poppins', sans-serif;
    --sub-font: 'Montserrat', sans-serif;
    --text-font: 'Open Sans', sans-serif;
}

/* .App {
    background-color: var(--light);
} */