:root {
    --dark: #092428;
    --light: #c8e690;
    --title-font: 'Carter One', cursive;
    --sub-font: 'Black Han Sans', sans-serif;
    --text-font: 'Candal', sans-serif;
}
/* .App {
    background-color: var(--light);
} */